<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <app-small-box
          [number]="number"
          [text]="text"
          [href]="href"
          [color]="class"
          [icon]="icon"
        ></app-small-box>
      </div>
      <div class="col-lg-3 col-6">
        <app-small-box
          [number]="number"
          [text]="text"
          [href]="href"
          [color]="class"
          [icon]="icon"
        ></app-small-box>
      </div>
      <div class="col-lg-3 col-6">
        <app-small-box
          [number]="number"
          [text]="text"
          [href]="href"
          [color]="class"
          [icon]="icon"
        ></app-small-box>
      </div>
      <div class="col-lg-3 col-6">
        <app-small-box
          [number]="number"
          [text]="text"
          [href]="href"
          [color]="class"
          [icon]="icon"
        ></app-small-box>
      </div>
    </div>
  </div>
</section>
